.hero
    .hero-center
        h1 Baliuag Cross and Flame Academy
        p Train up a child in the way that he should go, so when he is old, he will not depart from it.
    .hero-left
    .hero-right