extends ../template.pug

block title
    title BCFA - About Us

block content 
    .section
        .p-10
            .grid(class="sm:grid-cols-2")
                div
                    h1.text-5xl.font-extrabold.py-6 About BCFA
                    p.text-justify 
                        | Our vision is to provide ecumenical education to eager learners of all ages. Baliuag Cross and Flame Academy stands within the grounds of one of the pioneers of Christian communities in Baliuag, and in the province of Bulacan. 
                        | We are pleased to work with children and parents in building our community through education and cooperation. We offer a holistic teaching approach leading to a student-centered environment putting first the learner's safety, quality of learning, and social breakthrough. 
                .flex.justify-center.items-center
                    img(src="./media/bcfa-logo.png", alt="bcfa logo", srcset="")

