extends ../template.pug

block title
    title BCFA - Contact Us

block content 
    .section
        .p-10
            .grid.grid-cols-2
                div
                    h1.text-5xl.font-extrabold.py-6 Contact Us
                    p.text-justify 
                        | Our offices are open Mondays through Fridays.
                        | For more information, you can visit our Facebook page!
                .flex.justify-center.items-center
                    img(src="./media/bcfa-logo.png", alt="bcfa logo", srcset="")