extends ../../template.pug

block title
    title BCFA - Junior High School

block content 
    .section
        .p-10
            .grid(class="sm:grid-cols-2")
                div
                    h1.text-5xl.font-extrabold.py-6 Junior High School
                    p.text-justify Coming soon..