extends ../../template.pug

block title
    title BCFA - Kindergarten

block content 
    .section
        .p-10
            .grid(class="sm:grid-cols-2")
                div
                    h1.text-5xl.font-extrabold.py-6 Kindergarten
                    p.text-justify Coming soon..