<!-- Body can be divided into subsections if desired. However in absence of a server/templating engine, this would be laborous -->
<div id="hero">
    <div id="hero-left">
        BCFA
    </div>
    <div id="hero-right">
        BCFA Tagline
    </div>
</div>

<div id="products">
    <!-- This section can be looped if paired with a server -->
    <div id="product-1">
        Kindergarten
    </div>
    <div id="product-2">
        Elementary
    </div>
    <div id="product-3">
        Highschool
    </div>
</div>

<div id="testimonials">
    <!-- This section can be looped if paired with a server -->
    <div id="testimony-1">
        <!-- name -->
        <h2>Elijah</h2>
        <!-- testimony -->
        <p>Best school in da worl</p>
    </div>
</div>

<div id="about">
    <div>
        <h2>
            History
        </h2>
        <p>
            Baliuag Cross and Flame Academy started as...
        </p>
    </div>
</div>