html 
    head
        block title
        block scripts
        include components/head.pug
    body
        include components/header.pug
        .mx-auto
            block content
        include components/footer.pug