html 
    head
        block title
        block scripts
        include components/head.pug
    body
        .container
            include components/header.pug
            block content
            include components/footer.pug